# resource files

# build and debug files
build

# CMake and editor files
CMakeLists.txt.user
CMakeLists.txt.user*
*.autosave
.vscode
.idea
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/
VTK-9.0.1
VTK_BUILD
VTK-9.0.1.tar.gz
